<div style=" position: absolute; width: 100%; z-index: 100;" class="d-flex align-items-center justify-content-center flex-column vh-100 bg-primary">
    <h1 class="display-1 fw-bold text-white">404</h1>
    <h2 class="text-white">PAGE NOT FOUND</h2>
    {{!-- <form action="/page-not-found" method="POST">
        <button type="submit" class="btn btn-dark">Go Home</button>
    </form> --}}
    <a href="/" class="btn btn-dark">Go Home</a>

</div> 